@model string;

<div class="text-white row">
	<div class="col">
		<a asp-controller="@Model" asp-action="Create" class="btn btn-success float-right">
			<i class="bi bi-plus-circle m-4"></i> Add New
		</a>
	</div>
</div>